In [62]:
import requests
import lxml.html as lh
import pandas as pd 
import numpy as np

url = 'https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases'
whole_page = requests.get(url)
doc = lh.fromstring(whole_page.content)

In [63]:
tr_elements = doc.xpath('//tr')
[len(T) for T in tr_elements[:12]]

tr_elements = doc.xpath('//tr') 

cols = [] 
i = 0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print("%d:%s" % (i,name))
    cols.append((name,[]))

1:Region
2:Places reporting cases
3:Sum of Cases
4:Sum of Deaths
5:Confirmed cases during the 14-days
			of the reporting  period
6:Reporting period
			YYYY-WW

In [64]:
for j in range(1,len(tr_elements)): # Because header is the first row, data would be store in the subsequent rows.
    T = tr_elements[j] #T is j'th row
    
    if len(T)!=6: #if row is not size 3, //tr data is not from the table.
        break
        
    i = 0 #i is the index of the first column
    
    for t in T.iterchildren(): #iterate through each element of the row
        data=t.text_content()
            
        cols[i][1].append(data) #append the data to the empty list of the i'th column
            
        i+=1

In [65]:
[len(C) for (title,C) in cols]

[224, 224, 224, 224, 224, 224]

In [73]:
Dict = {title:column for (title,column) in cols}
df = pd.DataFrame(Dict)

In [74]:
df.describe()

,Region,Places reporting cases,Sum of Cases,Sum of Deaths,Confirmed cases during the 14-days\n\t\t\tof the reporting period,Reporting period\n\t\t\tYYYY-WW
count,224,224,224,224,224,224
unique,8,224,223,208,191,2
top,,Algeria,3,0,0,2022-21 and 2022-22
freq,217,1,2,6,23,223

In [75]:
df.shape()

TypeError: 'tuple' object is not callable

In [76]:
df.shape

(224, 6)